@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

/* 修复 Chrome 自动填充输入框背景色变白的问题 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #252836 inset !important;
  -webkit-text-fill-color: #fff !important;
  caret-color: #00D68F;
  transition: background-color 5000s ease-in-out 0s;
}
